{% extends "base.html" %}

{% block page_content %}

<form action="/">
    <input type="submit" value="go back" />
</form>
<div class="row">
{% for i in items %}


        <div class="col-md-3">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="{{ i.image_url }}" alt="Card image cap">
                <div class="card-header">
                    {{ i.name }}
                </div>
                <div class="card-body">
                    <p class="card-text">Price: ${{ i.price }} CAD</p>
                    <p class="card-text">{{ i.created }}</p>
                </div>
            </div>
        </div>


{% endfor %}
</div>

{% endblock %}